.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.desktopgrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-gap: 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "Svg Blog"
    "Svg Latest-Blog"
    "Svg Latest-Blog"
    "Socials CV";
}

.Svg {
  grid-area: Svg;
}
.Socials {
  grid-area: Socials;
}
.Latest-Blog {
  grid-area: Latest-Blog;
}
.Blog {
  grid-area: Blog;
}
.CV {
  grid-area: CV;
}
